.app-sidebar__user-avatar
{
	width: 59px;
	background-color: gray;
	padding: 1px;
}
.app-sidebar_toggle{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	font-size: 15pt;
}
.app-sidebar_toggle::before{
	display: none;
}

.headerRegister, .header-primary{
	background:#009688;
	color:#FFF;
}

.headerUpdate{
	background: #007bff;
	color:#FFF;
}
.notBlock{
	display: none;
}
